
#pplCont{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid black;
    width: 90%;
    margin: auto;
}
.box{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    /* background-color: greenyellow; */
    font-family: sans-serif;
    width: 20%;
    padding: 2px;
    border: 4px solid white;
    font-size: 10px;
}  
.test{
    font-style: italic;
    color: grey;
}
img{
    height:auto;
    width:80%;
    border-radius: 2em;
}
p{
    margin: 5px 0px;
    font-size: 12px;
    justify-items: center;
    width: 80%;
}
.filterCont{
    margin: 0px auto 0px auto;
    border: 3px solid grey;
    height: 50px;
    width: 50%;
}
h1{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 60px;
}